# Copie para .env e preencha com seus dados

DATABASE_URL="postgresql://usuario:senha@localhost:5432/fincontrol"

JWT_SECRET="sua-chave-aqui"

FRONTEND_URL="http://localhost:5173"

PORT=3333

NODE_ENV="development"
